; data_generation.config

[training]
validation_split   = 0.2
featurewise_center = False
samplewise_center  = False
featurewise_std_normalization=False
samplewise_std_normalization =False
zca_whitening                =False
rotation_range     = 10
horizontal_flip    = True
vertical_flip      = True
width_shift_range  = 0.05
height_shift_range = 0.05
shear_range        = 0.00
zoom_range         = [0.5, 1.5]

;channel_shift_range= 10
;brightness_range   = [80,100]
data_format        = "channels_last"


